

/* 底部 */
.footer-wrapper {
  position: absolute;
  z-index: 3;

}

.footer-container {
  position: fixed;
  left: 200px;
  bottom: 40px;
  /* width: 50px; */
  display: flex;
  justify-content: start;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(32, 33, 36, 0.28);
  background: #fff;
  /* padding: 8px; */
  /* height: ; */
}

.btn-color-wrapper,
.btn-size-wrapper {
  margin: 10px 15px;
  display: flex;
  justify-content: start;
  height: 25px;
  line-height: 25px;
}

.btn-color-wrapper:hover,
.color-picker:hover {
  cursor: pointer;
  color: #1398e6;
}

.color-picker {
  width: 20px;
  height: 25px;
  outline: none;
  border: none;
  padding: 0;
}

.color-label {
  margin-right: 3px;
}

.btn-size-wrapper i{
  /* font-size: 18px; */
  font-weight: bold;
}
.btn-size-wrapper i:hover{
  color: #1398e6;
  cursor: pointer;
}
.download-type{
  position: absolute;
  bottom: 50px;
  padding: 10px;
  /* height: 40px;
  line-height: 40px; */
  text-align: center;
  transition: 0.37s ease;
  right: -21px;
  border: 1px solid transparent;
  /* box-shadow: 0 1px 2px 0 rgba(32, 33, 36, 0.28); */
  /* background: rgb(244 244 244); */
  transition: 0.37 ease;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.modal-delete{position: absolute;
right: -5px;
color: #909399;
top: -13px;
font-size: 16px;}
.modal-delete:hover{
  cursor: pointer;
  color: #1398e6;
}

.download-type p:hover{
  color: #1398e6;
  cursor: pointer;
}

.select-edit-wrapper {

  position: absolute;
  z-index: 3;
}


/* 选中修改 */
.select-edit-container {
  animation: fadeInRight 0.5s;
  animation-fill-mode: both !important;
  -webkit-animation-fill-mode: both !important;
  position: fixed;
  right: 35px;
  top: 110px;
  width: 250px;
  height: 380px;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(32, 33, 36, 0.58);
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate(1000px, 0);
    transform: stranslate(1000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(10px, 0);
    transform: stranslate(10px, 0);
  }
}

.select-item-wrapper{
  margin-bottom: 10px;
}
.select-item-title{
  color: #343a40;
    font-size: 16px;
    margin-bottom: 10px;
}
.select-item-desc{
 display: flex;
 justify-content: start;
}
.select-color{
  outline: none;
  border: none;
  padding: 0;
  width: 36px;
  height: 40px;
  margin-right: 8px;
}
.show-color{
  display: flex;
  justify-content: start;
  width: 90%;
  margin-top: 3px;
}
.detail-color-title{
  background-color: #f5f7fa;
  color:#909399;
 
  border-radius: 4px;
  font-size: 16px;
  width: 30%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  white-space: nowrap;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0px;
  box-shadow: 0 0 0 1px #dcdfe6 inset;
}
.detail-color{
  padding: 0px 10px;
border-radius: 4px;
  border-left: 0px;
  width: 60%;
  height: 35px;
  line-height: 35px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 0 1px #dcdfe6 inset;
}
.size-width{
  width: 100%;

}
.show-line{
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  display: flex;
  justify-content: start;
  font-size: 16px;
 width: 100%;
 height: 35px;
 line-height: 35px;
}
.detail-line,.detail-line1,.detail-line2{
  width: 30%;
  text-align: center;
}
.detail-line,.detail-line1{
  border-right: 1px solid #dcdfe6;
}
::-webkit-color-swatch-wrapper {
  background-color: #ffffff;
}

::-webkit-color-swatch {
  position: relative;
}
