/* .canvas-wrapper{
    background-color: #f2f2f2;
} */


/* 侧边栏选择 */
.selectBar {
    position: absolute;
    z-index: 3;
  }
  .tools {
    position: fixed;
    left: 25px;
    top: 110px;
    width: 50px;
    /* height: 40px; */
    display: flex;
    flex-direction: column;
    justify-self: start;
    /* text-align: center; */
    /* line-height: 40px; */
  }
  .tools .container {
    /* height: 70px; */
    padding: 8px 10px;
    border-radius: 20px;
    box-shadow: 0 1px 2px 0 rgba(32, 33, 36, 0.28);
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-self: start;
    /* height: 40px;
    line-height: 40px; */
  }
  .tools button {
    width: 30px;
    height: 50px;
    /* height: 30px;
    line-height: 20px; */
    border: none;
    outline: none;
    /* background-size: 20px 20px; */
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
    /* margin: 0 6px; */
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid transparent;
  }
  .active {
    border-radius: 5px;
    border: 1px solid #1398e6;
    /* border-color: ; */
    color: #1398e6;
  }
  
  .UndoRedo-wrapper{
    position: fixed;
    left: 25px;
    bottom: 75px;
    width: 50px;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 1px 2px 0 rgba(32, 33, 36, 0.28);
  }
  .undo,.redo{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
  }