.container {
  height: 100vh;
  background-image: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);
}
.welcome-wrapper {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.welcome-text {
  font-size: 50px;
  font-weight: bold;
}
.brief-intro {
  margin-top: 10px;
  font-size: 22px;
}
.board-btn-box {
  position: absolute;
  top: 62vh;
  left: 25vw;
  width: 36vw;
  display: flex;
  justify-content: space-between;
}
.join-board,
.create-board {
  width: 220px;
  height: 52px;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 300ms;
  background: #474747;
  box-shadow: 0px 5px #292929, 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.join-board:hover,
.create-board:hover {
  transform: translateY(5px);
  box-shadow: 0px 0px transparent, 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.join-board:focus .create-board:focus {
  outline: none;
}





 
