
 @import '../public/iconfont/iconfont.css';

* {
  margin: 0;
  padding: 0;
}
body {
  --theme-bg-pink: #fbc2eb;
  --theme-bg-blue: #a6c1ee;
}
html {
  font-family: 'apercu', sans-serif;overflow: hidden;
}
button:hover,
a:hover {
  cursor: pointer;
}
