.container{
    position: absolute;
    z-index: 3;
}
.head-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    margin: 0px 25px 0px 25px;
    position: fixed;
    left: 0px;
    top: 10px;
    width: 100%;

}
.add-new-page{
    color: #636262;
    background-color: #fff;
    padding: 5px 8px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(32, 33, 36, 0.58);
    transition: ease 1s;

   
}
.add-new-page:hover{
    cursor: pointer;
   
}
.head-right{
     display: flex;
    justify-content: start;
}
.selectMode{
   margin-right: 18px;
   /* background-image:linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%); */
   box-shadow: 0 1px 2px 0 rgba(32, 33, 36, 0.58); height: 30px;
    line-height: 30px;
    padding: 5px 8px;
    border-radius: 10px;
    background-color: #fff;
}
.selectMode button{
    border: none;
    outline: none;  
    /* background-size: 20px 20px; */
    background-position: center center;
    background-repeat: no-repeat;
    background: transparent;
    width: 40px;
    
    transition: ease 0.37s;
   
}
.selectMode button:hover{
    color: #1398e6;
}
/* .division{
    color: #fff;
} */
.user{
    margin-right: 50px;
    width: 40px;
    height: 40px;
    background-color: pink;
    border-radius: 20px;
}
