.container {
    position: absolute;
    z-index: 3;
}

.head-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    margin: 0px 25px 0px 25px;
    position: fixed;
    left: 0px;
    top: 10px;
    width: 100%;

}

.add-new-page {
    background-color: #fff;
    padding: 5px 8px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(32, 33, 36, 0.58);
    transition: ease 1s;
    caret-color:transparent;

}

.add-new-page:hover {
    cursor: pointer;
    color: #1398e6;
}

.head-right,
.head-left {
    display: flex;
    justify-content: start;
}

.selectMode {
    margin-right: 18px;
    box-shadow: 0 1px 2px 0 rgba(32, 33, 36, 0.58);
    height: 30px;
    line-height: 30px;
    padding: 5px 8px;
    border-radius: 10px;
    background-color: #fff;
}

.selectMode button {
    border: none;
    outline: none;
    background-position: center center;
    background-repeat: no-repeat;
    background: transparent;
    font-size: 14px;
    transition: ease 0.37s;

}

.selectMode button:hover,
.exit-board:hover {
    color: #1398e6;
}

.exit-board {
    border: none;
    outline: none;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(32, 33, 36, 0.58);
    height: 40px;
    letter-spacing: 1px;
    padding: 0px 5px;
    border-radius: 10px;
    transition: ease 0.37s;
    margin-right: 18px;
    font-size: 14px;
}

.avatar {
    width: 45px !important;
    height: 45px !important;
    font-size: 18px !important;
    caret-color: transparent;
}

.avatar-group {
    margin-right: 100px;
}